<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-md-4 col-12 offset-md-2">
    <%= render @photo %>
  </div>
  <div class="col-md-4 col-12">
    <h4>Comentarios</h4>
    <% if user_signed_in? %>
      <form action="/comments" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="photo_id" value="<%=@photo.id%>">
        <div>
          <label for="content">Comenta acá:</label>
          <input type="text" name="content" id="content" required>
        </div>
        <input type="submit" value="Comentar" class="btn btn-success">
      </form>
    <% end %>

    <ul class="list-group">
      <%@photo.comments.each do |c|%>
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
              <p><b><%=c.content%></b></p>
              <p><%=c.user.name%></p>
            </div>
            <div class="col-4 p-1">
              <img src="<%=c.user.avatar%>" alt="" class="img-circle w-100 d-block rounded">
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
  <%= link_to "Back to photos", photos_path %>

  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
